<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Saludo-Index</title>
</head>
<body>
    <div>
        <p>saludos {{ nombre }}!!!</p>
        {% if esMayor %}
        <hr>
        <h1>Sos mayor de edad</h1>
        <hr>
        {% else %}
        <hr>
        <h1>Sos menor de edad</h1>
        <hr>
        {% endif %}

        <ul>
        {% for mascota in mascotas %}
            <li>
                {{ mascota }}
            </li>
        {% endfor %}
        </ul>

    </div>
    
</body>
</html>